.flex {
    display: flex;
}
.flexCol {
    flex-direction: column;
}
.hFull {
    height: 100%;
}
.justifyBetween {
    justify-content: space-between;
}
.itemsCenter {
    align-items: center;
}
.p4 {
    padding: 1rem;
}
.bgGray100 {
    background-color: #f5f5f5;
}
.textXl {
    font-size: 1.25rem;
}
.fontBold {
    font-weight: bold;
}
.mr4 {
    margin-right: 1rem;
}
.px3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.bgRed500 {
    background-color: #f56565;
}
.textWhite {
    color: white;
}
.rounded {
    border-radius: 0.375rem;
}
.hoverBgRed600:hover {
    background-color: #e53e3e;
}
.w3Over4 {
    width: 75%;
}
.relative {
    position: relative;
}
.bgBlue50 {
    background-color: #ebf8ff;
}
.bgBlue100 {
    background-color: #bee3f8;
}
.roundedLg {
    border-radius: 0.5rem;
}
.border2 {
    border-width: 2px;
}
.borderBlue200 {
    border-color: #90cdf4;
}
.absolute {
    position: absolute;
}
.inset0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wFull {
    width: 100%;
}
.hFull {
    height: 100%;
}
